@import "./bourbon/bourbon";

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);
$mq-static-breakpoint: desktop;
$mq-show-breakpoints: (mobile, mobileLandscape, tablet, desktop, wide);
@import '../../node_modules/sass-mq/mq';

@import "./h5bp";

$mq-responsive: true;

